version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
      day: monday
      time: "08:00"
      timezone: "America/Los_Angeles"
    open-pull-requests-limit: 10
    labels:
      - dependencies
      - kind/chore
    groups:
      minor-and-patch:
        patterns:
          - "*"
        update-types:
          - minor
          - patch

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      day: monday
      time: "08:30"
      timezone: "America/Los_Angeles"
    labels:
      - dependencies
      - kind/chore

